body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
#page-heading {
  text-align: center;
  margin-top: 25px;
  color: gray;
}

#display-contacts {
  display: flex;
  justify-content: center;
}

#display-contacts ul {
  list-style: none;
  padding: 0;
}
.contact {
  padding: 3px 10px;
  border: 1px solid white;
  background-color: #6f92f9;
  box-shadow: 1px 1px 1px 1px lightgray;
  color: white;
  display: flex;
  width: 380px;
}
.contact:hover {
  background-color: gray;
  cursor: pointer;
}

.contact .details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.contact .delete-button {
  width: 10%;
  margin-top: 5px;
  text-align: center;
}

.contact .delete-button a {
  color: white;
  background-color: red;
}

.contact p {
  margin: 5px 0;
}
.details {
  text-transform: capitalize;
}

#new-contact-form {
  text-align: center;
}
#new-contact-form input {
  background: white;
}
#new-contact-form button {
  background: gray;
  color: white;
}
