body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}
#page-heading {
  text-align: center;
  margin-top: 25px;
  color: gray;
}
#display-contacts {
  display: flex;
  justify-content: center;
}

#display-contacts div {
  width: 350px;
  background-color: cornflowerblue;
  color: white;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  margin-right: 40px;
  cursor: pointer;
}
#display-contacts div:hover {
  background-color: gray;
}
#display-contacts h3 {
  display: inline;
  text-transform: capitalize;
}

button {
  width: auto;
  background: gray;
  color: white;
}
input {
  width: 155px;
  background: white;
  padding: revert;
}
